.css-value-colour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 1.6rem;
}
.css-value-colour-radio {
    margin-right: 0.5rem;
    accent-color: var(--primary-brand-colour);
}
.css-value-colour-label {
    flex: 1 1 auto;
}
.css-value-colour-swatch {
    --swatch-size: 1.2rem;
    display: inline-block;
    width: var(--swatch-size);
    height: var(--swatch-size);
    border-radius: calc(var(--swatch-size) / 4);
    border: 1px solid #444;
    margin-left: 0.5rem;
}
