.css-value-colour {
    display: flex;
    min-height: 1.6rem;
}
.css-value-colour-swatch {
    --swatch-size: 1.6rem;
    display: inline-block;
    width: var(--swatch-size);
    height: var(--swatch-size);
    border-radius: calc(var(--swatch-size) / 2);
    border: 1px solid #444;
    margin-left: 0.5rem;
}
