.css-value-image {
    display: contents;
}
.css-value-image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 10rem;
    border: 1px solid #444;
}
.css-value-image-preview.blank::before {
    content: attr(data-blank-message);
    font-size: 1.5rem;
    color: #999;
    padding: var(--grid-padding, 0);
    text-align: center;
}
.css-value-image-label {
    --button-radius: 5px;
    border-radius: var(--button-radius);
    border: 1px solid;
    background: #eee;
    padding: 0.5rem 1rem;
    width: auto;
    align-self: flex-start;
}
.css-value-image-input {
    position: absolute;
    left: -9999rem;
}