.css-custom-property {
    display: contents;
}
.css-custom-property-heading {
    font-weight: normal;
    font-size: 1.2rem;
    grid-column: 1 / -1;
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.05);
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.css-custom-property-var {
    display: inline-block;
    color: #999;
    font-size: 0.8rem;
    margin: 0 0 0 0.5rem;
}