.css-custom-property {
    display: contents;
}
.css-custom-property-heading {
    font-weight: normal;
    font-size: 1.2rem;
    grid-column: 1 / -1;
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.05);
}
.css-custom-property-var {
    display: block;
    color: #999;
    font-size: 0.8rem;
    margin: 0.2rem 0 0 0;
}