.not-themed {
    grid-column: 2 / span 2;
}
.css-value-label {
    display: block;
}
.css-value-colour-swatch {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #444;
}