.css-custom-property .light {
    grid-column: 2 / 3;
}
.css-custom-property .dark {
    grid-column: 3 / 4;
}
.css-custom-property .not-themed {
    grid-column: 2 / span 2;
}
@media screen and (max-width: 50rem) {
    .css-custom-property .light,
    .css-custom-property .dark,
    .css-custom-property .not-themed {
        grid-column: 1 / -1;
    }
}
.css-value {
    display: flex;
    flex-direction: column;
    padding: var(--grid-padding, 0);
    background: #ffe3cc;
    border-radius: 0.2rem;
}
.css-value-label {
    display: block;
    font-size: 1rem;
    margin: 0 0 0.2rem 0;
}
.css-value-input {
    border: none;
    padding: 0.2rem;
    font-size: 1rem;
    background-color: var(--admin-page-background);
}