.not-themed {
    grid-column: 2 / span 2;
}
.css-value {
    display: flex;
    flex-direction: column;
    padding: var(--grid-padding, 0);
    background: #ffe3cc;
    border-radius: 0.2rem;
}
.css-value-label {
    display: block;
    font-size: 1rem;
}
.css-value-input {
    border: none;
    padding: 0.2rem;
    font-size: 1rem;
    background-color: var(--admin-page-background);
}